$main-bg: #fff;
$main-color: #06c1d4;
$main-red: #d53b2a;

$txt-main-color: #000;
$txt-second-color: #8d8d8d;
$txt-while: #fff;

$btn-main-bg: $main-bg;
$btn-main-color: #fff;

$btn-hover: #242424;

$color-title: #0e0e0e;

$main-grey: rgb(158,158,158);


//---------
// $main-font: "SFProText";

$header-height: 72px;
// $header-tablet-height: 70px;
// $header-mobile-height: 40px;
// $header-shrink-height: 40px;

$box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 14px;

$mobile-width: 600px;
$tablet-width: 1024px;

$colors: (
    "blue": #4267b2,
    "orange": #fbb96b,
    "pink": #fe7e73,
    "white": #fff,
    "black": #000,
    "main": $main-color,
);

$numbers: (0, 1, 2, 3, 4, 5, 6, 7, 8);
