.register {
    .form {
        &__item {
            &__title {
                font-size: 1.6rem;
                color: #333;
                font-weight: 600;
                text-align: center;
            }

            &__label {
                font-size: 1.2rem;
                color: #333;
            }

            &__input {
                margin-top: 10px;
            }

            &.btn {
                margin-top: 20px;
                text-align: center;
            }

            &__submit {
                padding: 8px 20px;
                font-size: 1.2rem;
                color: #fff;
                background-color: $main-color;
                border-radius: 10px;
            }
        }
    }
}
